@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 30% 12%;
    --foreground: 0 0% 98%;

    --card: 256 30% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 256 30% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 258 48% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 258 48% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 258 48% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 248 51% 55%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 258 48% 30%;
    --input: 258 48% 20%;
    --ring: 248 51% 65%;

    --radius: 0.5rem;

    --chart-1: 258 48% 51%;
    --chart-2: 248 51% 55%;
    --chart-3: 258 48% 70%;
    --chart-4: 248 51% 75%;
    --chart-5: 258 48% 85%;
  }

  /* The app is always dark */
  .dark {
    --background: 256 30% 12%;
    --foreground: 0 0% 98%;

    --card: 256 30% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 256 30% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 258 48% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 258 48% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 258 48% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 248 51% 55%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 258 48% 30%;
    --input: 258 48% 20%;
    --ring: 248 51% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
